<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>

    <style>
        body {
            margin: 0px auto;
            padding: 0px;
            text-align: center;
        }
    </style>
</head>
<body>

        <h1>Add a New User</h1>

    <form action="/create" method="POST">
        <label class="adjust" for="first_name">First Name:</label>
        <br>
        <input class="adjust" type="text" name="first_name">
        <br>
        <label for="last_name">Last Name:</label>
        <br>
        <input type="text" name="last_name">
        <br>
        <label for="email">Email</label>
        <br>
        <input type="text" name="email">
        <br>
        <br>
        <input type="submit" value="Create User">
    </form>
    <br>
    <a href="/end">Home</a>
</body>
</html>