<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0px auto;
            padding: 0px;
            width: 75%;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .user_info {
            border: 2px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>User Information</h1>
        <a href="/">Home</a>
    </div>
    <div class="user_info">
        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Created On: {{user.created_at}}</p>
        <p>Last Updated On: {{user.updated_at}}</p>
    </div>
    <div class="nav">
        <p><a href="/update_user/{{user.id}}">Edit</a> | <a href="/delete/{{user.id}}">Delete</a></p>
    </div>
</body>
</html>